.main-home {
    grid-area: main;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 10px 25px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
