.main-subscription {
    grid-area: main;
    margin: 10px 25px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-auto-columns: minmax(250px, auto);
    grid-template-areas: "a a";
    overflow: hidden;
}

.main SubscriptionRequest {
    grid-area: 'a';
}