.song-list {
    margin: 10px 10px;
    color: white;
    font-family: 'Montserrat', Verdana;
    display: -moz-inline-grid;
    grid-auto-columns: minmax(800px, auto);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    "a"
    "btn-add-song";
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    overflow: hidden;
}

.main SongEdit {
    grid-area: 'a';
}


