.song-edit {
    background-color: rgba(255,255,255,0.1);
    transition:0.3s;
    border-radius: 5px; 
}

.song-edit:hover {
    background-color: rgba(255,255,255,0.2);
}

.song-edit > .grid {
    margin: 15px 15px;
    padding : 15px 10px;
    height: 85%;
    display: grid;
    grid-template-columns: 0.2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    justify-items: center center center center center center;
    grid-template-areas: 
    "song-id judul judul judul btn-edit btn-delete";
}


.song-edit > .grid > .song-id {
    grid-area: song-id;
    font-size: 1em;
    font-weight: 200;
    color: white;
    margin: 29px;
}




.song-edit > .grid > .input-lagu {
    grid-area: "judul";
    width: auto;
    height: 50px;
    margin: 13px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    font: 1em 'Montserrat', Verdana;
    color: white;
}

.song-edit > .grid > .input-lagu:hover {
    grid-area: "judul";
    width: fit-content;
    height: 50px;
    margin: 13px;
    border: none;
    background-position-x: center;
    background-position-y: center;
    border-radius: 10px;
    background-color: transparent;
    font: 1em 'Montserrat', Verdana;
    color: black;
    background-color: white;
}


.song-edit > .grid > .btn-edit {
    border: none;
    padding:15px;
    width: 100px;
    height: 50px;
    border-radius:35px;
    background-color: #1ED760 ;
    margin: 13px;
    margin-left: auto;
    font-weight: 800;
    transition-duration: 0.4s;
    opacity: 100%;
}

.song-edit > .grid > .btn-delete {
    border: none;
    padding:15px;
    width: 100px;
    height: 50px;
    border-radius:35px;
    background-color: #1ED760 ;
    margin: 13px;
    margin-left: 50px;
    font-weight: 800;
    transition-duration: 0.4s;
    opacity: 100%;
}

.song-edit > .grid > .btn-edit:hover {
    width:100px;
    height:50px;
    background-color: #93fcb8;
}

.song-edit:hover .btn-edit {
    opacity:100%;
}


.song-edit > .grid > .btn-delete:hover {
    width:100px;
    height:50px;
    background-color: #93fcb8;
}

.song-edit:hover .btn-delete {
    opacity:100%;
}